@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
    font-size:62.5%;
}

.content1{
  position: relative;
  margin: 30px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background: #111;
  color: #d9d9d9;
}
.main-content{
  display: flex;
}
.box {
    height:30vh;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #d9d9d9;
  
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: 80vw;
  top: -10px;
  height: 2px;
  width: 100vw;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #d3d3d3
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: #d9d9d9;
}
.right form .btn button:hover{
  background: #000;
}


.main-map {
    width:30vw;
    margin:20px;
}

.pp {
    color:#333;
    font-size:1.25rem;
}

.buscar button {
    height: 25px;
    width: 20%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 300;
    cursor: pointer;
    transition: .3s;
    color: #d9d9d9;
    margin:20px;
}
a {
    text-decoration: none;
    color:#d9d9d9
}



footer{
  position: relative;
  bottom: 0px;
}

@media screen and (max-width: 900px) {

  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

@media screen and (min-width: 375px) {
    .content1 .text{
        font-size: 2.6rem;
        font-weight: 600;
        color: #202020;
      }
      .pp {
        color:#333;
        font-size: 1.3rem;       
    }

}
@media screen and (min-width: 768px) {
    .content1 .text{
        font-size: 3rem;
        font-weight: 600;
        color: #202020;
      }
      .pp {
        color:#333;
        font-size: 1.8rem;       
    }
    .main-map {
        width:20vw;
    }
    .box h2{
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #d9d9d9;
        
      }

}
@media screen and (min-width: 768px) {
    .content1 .text{
        font-size: 3rem;
        font-weight: 600;
        color: #202020;
      }
      .pp {
        color:#333;
        font-size: 2.1rem;       
    }
      .main-map {
        width:20vw;
    }
    .departamento {
        font-size:2rem;
    }
    .provincia {
        font-size:2rem;
    }
    .buscar button {
        height: 30px;
        width: 20%;
        border: none;
        outline: none;
        background: #f12020;
        font-size: 1.8rem;
        font-weight: 300;
        cursor: pointer;
        transition: .3s;
        color: #d9d9d9;
        margin:20px;
    }

}
